<% include ../partials/header %>

<div class="show-page-container">
  <main class="show-page-main-section">

  </main>
  <div class="show-page-comment-section">

  </div>
  <div class="show-page-about-section">

  </div>
  <footer class="show-page-footer">

  </footer>


  <h1><%= song.title %></h1>
  <img src="<%= song.image %>" alt="">

  <!-- This is the Wavesurfer visual waveform -->
  <div id="waveform" class=""></div>
  <!-- This is a play button for the audio -->
  <i id="play-button" class="audio-button fas fa-play"></i>
  <i id="pause-button" class="audio-button fas fa-pause"></i>
  <i id="stop-button" class="audio-button fas fa-stop"></i>
  <i id="backward-button" class="audio-button fas fa-backward"></i>
  <i id="forward-button" class="audio-button fas fa-forward"></i>

  <h2>Description</h2>  
  <p><%= song.description %></p>
  <h2>Keywords</h2>
  <p><%= song.tags %></p>
  <h2>Comments</h2>
  <% song.comments.forEach(function(comment) { %>
    <p>
      <strong><%= comment.author %></strong> says: <%= comment.text %>
    </p>
  <% }); %>
  <h3>Add a new comment</h3>
  <form class="" action="/music/<%= song._id %>/comments" method="POST">
    <div class="form-group">
      <input class="form-control" type="text" name="comment[author]" placeholder="Your Name">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" name="comment[text]" placeholder="Write comment here">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-default btn-primary btn-block">Submit</button>
    </div>
  </form>

</div>

<script type="text/javascript">
  var songAudio = <%- JSON.stringify(song.audio) %>;
  // console.log(songAudio);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.2.0/wavesurfer.min.js"></script>

<% include ../partials/footer %>
